body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: #222831;
  font-weight: bold;
  margin: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  &:hover,
  &:active{
      color: #9DB2BF;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


